*.edge
*.obs_vstat
*.inf_coord
*.inf_coord_raw
*.inf_log
*.inf_pconn
*.inf_theta_density
*.inf_vprop
*.inf_vstat
*.gen_coord


*.tar.gz

# Ignore Python cache files
__pycache__/

# Ignore MacOS specific files
*.DS_Store

# Output files
mercator

*.o

*.so

*.out

*.pdf

*.py

!setup.py
!scripts/plot_validation_of_embedding.py

# Ignore IDE and editor specific files
/.idea
